:root {
   --cor-de-fundo:#EBECEE;
   }
   body {
       background-color: var(--cor-de-fundo);
       }

      {
        background-color: white;
        }
         @import url("styles/header.css");
         
         :root {
          --cor-de-fundo: #EBECEE;
          --branco: #FFFFFF;
    }
    :root {
      --cor-de-fundo: #EBECEE;
      --branco: #FFFFFF;
      --laranja: #EB9B00;
    }
    <head>
            <meta charset="UTF_8">
            <meta name="viewport" content="width=device-width,initial-scale=0.1">
            <title>AluraBooks</tittle>
            <link rel="stylesheet" href="styles.css">
            <link rel="preconnect" href="https://fonts.googleapis.com">
            <
   
    
